.projects-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(86vh - 4px);
  padding: 2rem 1rem;
  background-color: #1e1d1d;
}

.two-card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.card {
  position: relative;
  width: 40%;
  background: #252626;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(225, 31, 32, 0.7);
  }
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1rem 0;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.title h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 0.8rem;
  text-align: center;
  text-decoration: underline;
}

.explanation {
  width: 90%;
  padding: 0.5rem;
  color: #f0f0f0;
  font-size: 0.9rem;
}

.explanation p {
  margin: 0.4rem 0;
  line-height: 1.4;
}

.clickable{
    cursor: pointer;
}

.card.clickable {
  text-decoration: none;
  color: inherit;
}

a {
  color: #00ff93;
  text-decoration: underline;

  &:hover {
    color: #6c63ff;
  }
}

ul{
  padding: 0;
}

.status-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 20px;
  background-color: transparent;
  color: white;
}

.status-badge::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 0.75rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.status-badge:hover::after {
  opacity: 1;
}

.badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #6c63ff;
  color: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .projects-page-container{
    width: fit-content;
  }

  .card {
    width: 90%;
  }

  .title h3 {
    font-size: 1.3rem;
  }

  .explanation {
    font-size: 0.85rem;
  }
}
