.projects-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(86vh - 4px);
    height: fit-content;
}

.projects-page-container .two-card-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.first-row{
    margin-top: 3%;
}

.projects-page-container .two-card-row .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(225, 31, 32, 1);
    width: 40%;
    margin-bottom: 20px;
    background: #252626;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-page-container .two-card-row .card img{
    width: 100px;
    margin: 5px;
    border-radius: 50%;
}

.explanation{
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
    color: #f5f5f5;
}

.status-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #252626;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.status-badge::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 6px;
    white-space: nowrap;
    font-size: 0.75rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
}

.status-badge:hover::after {
    opacity: 1;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: purple;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.title{
    width: 95%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: white;
}

h3, p{
    color: white;
}

h3{
    width: 100%;
    text-align: center;
}

p{
    font-size: 13px;
    margin: 5px;
}

a{
    color: #00ff93;
}

@media (max-width: 768px) {
    .projects-page-container .two-card-row {
        flex-direction: column;
        align-items: center;
    }

    .projects-page-container .two-card-row .card {
        width: 80%;
        flex-direction: column;
        align-items: center;
        text-align: start;
    }

    .projects-page-container .two-card-row .card .explanation {
        align-items: start;
    }
}
