<div class="certificates-page-container">
    <div class="two-card-row first-row">
        <a class="card clickable" title="Sertikayı görüntülemek için tıklayınız." href="https://drive.google.com/drive/u/1/folders/1QC4B3-IgEFkG6HaW_N5MtAAc1byovsl_" target="_blank" rel="noopener noreferrer">
            <div class="title">
                <h3>{{ 'certificates-page.cwd' | translate }}</h3>
            </div>
            <img ngSrc="/assets/udemy.jpg" alt="Udemy Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'certificates-page.instructor' | translate }}: Can Boz</li>
                    <li>{{ 'certificates-page.certificate-date' | translate }}: 08/2024</li>
                </ul>
            </div>          
        </a>
    </div>
</div>