<div class="certificates-page-container">
    <div class="two-card-row first-row">
        <a class="card clickable" title="Sertikayı görüntülemek için tıklayınız." href="https://drive.google.com/file/d/19QhgD5nwNAVLmyWM03q3tiVv9AGQvBx0/view" target="_blank" rel="noopener noreferrer">
            <div class="title">
                <h3>Domain Driven Design</h3>
            </div>
            <img ngSrc="/assets/udemy.jpg" alt="Udemy Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'certificates-page.instructor' | translate }}: Taner Saydam</li>
                    <li>{{ 'certificates-page.certificate-date' | translate }}: 09/2025</li>
                </ul>
            </div>          
        </a>
        <a class="card clickable" title="Sertikayı görüntülemek için tıklayınız." href="https://drive.google.com/file/d/1xNvI3JoSJbwiUvcrCO80lwFoXPGyD7PW/view" target="_blank" rel="noopener noreferrer">
            <div class="title">
                <h3>Microservice Architecture</h3>
            </div>
            <img ngSrc="/assets/udemy.jpg" alt="Udemy Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'certificates-page.instructor' | translate }}: Taner Saydam</li>
                    <li>{{ 'certificates-page.certificate-date' | translate }}: 09/2025</li>
                </ul>
            </div>          
        </a>
    </div>
    <div class="two-card-row">
        <a class="card clickable" title="Sertikayı görüntülemek için tıklayınız." href="https://drive.google.com/file/d/18RnqzBY9afJfzPz7inzqSxzuZkw9zt9c/view" target="_blank" rel="noopener noreferrer">
            <div class="title">
                <h3>{{ 'certificates-page.cwd' | translate }}</h3>
            </div>
            <img ngSrc="/assets/udemy.jpg" alt="Udemy Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'certificates-page.instructor' | translate }}: Can Boz</li>
                    <li>{{ 'certificates-page.certificate-date' | translate }}: 08/2024</li>
                </ul>
            </div>          
        </a>
        <a class="card clickable" title="Sertikayı görüntülemek için tıklayınız." href="https://drive.google.com/file/d/1fest3u8_gu-b843rNKNydDEQZckUi93R/view" target="_blank" rel="noopener noreferrer">
            <div class="title">
                <h3>Advent of Cyber 2024</h3>
            </div>
            <img ngSrc="/assets/thm-logo.png" alt="THM Logo" height="100" width="100" priority>
            <div class="explanation">
                <ul>
                    <li>{{ 'certificates-page.certificate-date' | translate }}: 01/2025</li>
                </ul>
            </div>          
        </a>
    </div>
</div>